/* CSS Document */
#hash {
	font-size:10px; font-style:italic; text-align:left; margin:0px;
}

.hash {
	margin:2px;
}
h2 {
	position: relative;
	height: 24px;
	width:60%;
	display: block;
	font-size: 1.0em;
	text-transform:uppercase;
    
}
h2:after {
	z-index:40;
    content:'';
    position:absolute;
    top:-2px;
	right:-2px;
	border-top: 24px solid red; 
    border-left: 24px solid transparent;
	height: 24px;
}
h3 {
	padding:0;
	padding-left:10px;
	margin:0;
	font-size:24px;
	font-family:"Courier New", Courier, monospace;	
}

#head_text {
	background:url(../../view/image/system/Logge.png) no-repeat center top;
	background-size: 150px 80px;
	margin-bottom:10px;
	min-height:80px;
}
.header_footer {
	border:#FFF 2px solid;
	margin:0 auto;
	width:70%;
	margin-bottom:10px;
	text-align:center;
	background:#999;
	color:#FFF;	
}
.inline {

	position:relative;
	
}
#clear {
	margin:0;
	display:inline-block;
	width:5%;
	height:20px;
	background:#999;	
}
#info {
	display:none;
	float:left;
	width:20%;
	min-height:20px;
	border:#CCC 1px solid;
	border-left:0px #FFF solid;
}
#company {
	width:100%;
	height:20px;
	border:#00FF55 1px solid;
	border-radius:1px;
	font-size:14px;
	margin:0 auto;	
}
.gogogo:hover {
	background:#03F;
}
#add {
	margin:5px;
	margin-left:0px;
}
.gogogo {
	background:#00F;
	border:#039 1px solid;
	padding:10px;
	padding-top:3px;
	padding-bottom:3px;
	width:25%;
	cursor:pointer;	
}
.link-main {
	display:inline-block;
	height:20px;
	width:25%;
	color:#FFF;
	background:#0C0;
	text-align:center;
	margin:0;
	padding:0
		
}
.link-menu {
	color:#FFF;
	text-decoration:none;	
	margin:5px;
	line-height:150%;
	font-size:50%;
}
.file {
	z-index:3;
	text-decoration:none;
	position:absolute;
	opacity:0.5;
	padding:2px;
	cursor:pointer;	
}


h2{
	margin:0px;	
}

h2 {
	padding-left:10px;
	padding-top:3px;
	padding-bottom:-5px;	
}
.center {
	margin:0 auto;
	text-align:center;	
}

.link {
	padding: 0px;  
    margin: 0;   
    display: inline-block;  
    width: 100%;  
    height: 100%;  
    background-color:#ccc;  
    color: #555;  
    text-decoration: none;  
    font-family: Arial, sans-serif;  
    font-size:40%;
    line-height: 300%;  
    text-align: center;  
}  

  
ul {
    padding: 0;  
    margin: 0;  
} 

li {
	position:relative;
	padding: 0;  
    margin: 0;   
    float: left;  
    display: inline-block;  
    height: 100%;
	width: 25%;  
    color: #555;
	text-align:center;
	text-decoration: none;  
    font-family: Arial, sans-serif;  
} 
 
li:nth-child(1) .link {  
    background-color:#0CF;  
}  

li:nth-child(2) .link {  
    background-color: #E9E9E9;    
}  
li:nth-child(3) .link {  
    background-color: #E4E4E4;  
}  
li:nth-child(4) .link {  
    background-color: #DFDFDF;  
}  
nav li:nth-child(5) .link {  
    background-color: #D9D9D9;  
}  

.links {
	padding: 0px;  
    margin: 0px;   
    display: inline-block;  
    width: 100%;  
    height: 100%;  
    background:linear-gradient(#0F6 , #6F9 );
	border:#f3f3f3 2px solid;  	
    color: #060;  
    text-decoration: none;  
    font-family: Arial, sans-serif;  
    font-size:40%;
    line-height: 300%;  
    text-align: center;  
	
}

