/* CSS Document */

html , body {
		overflow-style:marquee-block;
		
		overflow-x:hidden;
	width:100%;
	height:100%;
	margin: 0px;
	padding:0px;
}

/* Font */
a , p , input, div {
	font-family:Verdana, Geneva, sans-serif;	
}

/* UPLOAD */
.file_upload{
    position: relative;
	width:70%;
	margin:0 auto;
    overflow: hidden;
	
	background:#FFF;
	 box-shadow: 0 0 20px rgba(0,0,0,0.5);
	text-align:center;
    font-size: 1em;        
    height: 2em;           
    line-height: 2em       
}

.file_upload > button{
    float: right;
    width: 8em;           
    height: 100%
}
.file_upload > div{
    padding-left: 1em     
}
@media only screen and ( max-width: 500px ){
    .file_upload > div{
        display: none
    }
    .file_upload > button{
        width: 100%
    }
	.file_upload {
		width:90%;	
	}
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     
    -ms-transform: scale(20); 
    opacity: 0;
    cursor: pointer
}

/* MENU */
#apps {
	display:block;
	float:right;
	width:20px;
	height:15px;
	
	background-image: url('../image/system/Apps.png');
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;	
	
	z-index:20;
	cursor:pointer;	
}
#search-im {
	background-image: url('../image/system/Search.jpg');
	background-size:15px;
	background-position:center; /* Положение фона */
    background-repeat: no-repeat; /* Повторяем фон по горизонтали */
}
#load-im {
	background-image: url('../image/system/Load.jpg');
	background-size:15px;
	background-position:center; /* Положение фона */
    background-repeat: no-repeat; /* Повторяем фон по горизонтали */
}
#menu {
	float:right;
	height:100%;
	width:25%;
	position:relative;
	margin-right:0px;
	display:block;
}
.slide-link {
	font-size:90%;
	text-decoration:none;
	color:#333;		
}
.point {
	width:100%;
	z-index:30;
	right:0;
	position:absolute;
	text-align:center;
	cursor:pointer;
	background:#FFF;	
	padding-top:3px;
	padding-bottom:-3px;
	height:25px;
	font-weight:bold;
	text-wrap:suppress;
}
#test {
	width:100%;
	margin-top:20px;
	display:none;	
}
/* MAIN */
#site {
	display:table;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	position:absolute;
	background-repeat:no-repeat;
}

#content {
	min-height:400px;
	background:#f3f3f3;
	padding-bottom:10px;
}
img {
	width:69.8%;
}

#own_image {
	margin:0px;
	padding:0px;
	text-align:left;
	display:none;
	margin-top:10px;
	margin-left:20%;
	min-height:0px;
}
.holder {
	position:relative;
	width:100%;
	margin:0 auto;
	text-align:center;
}
.main-topic {
	display:block;
	z-index:1;
	text-align:center;
	width:69.8%;
	min-height:100px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:-1px;
	
}
.topic {
	padding:5px;
	background:#FFF;
	border:#CCC 0.5px solid;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
}

.menu-links {
	height:20px;
	width:70%;
	margin:0 auto;
	margin-top:0px;
	padding:0;
	padding-right:4px;
	display:block;
}

.topicinfooter {
	width:70%;
	margin:0 auto;
	text-align:left;
	background:#FFF;
	border:#CCC 1px solid;
	border-top:0px #000000 solid;	
	margin-top:1px;
	margin-bottom:-1px;
}

.topicinfooter-min {
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	width:25%;
	display:inline-block;
	background:#0F6;
	padding:0;
}

#main {
	background:#0F6;
	margin:0;
	padding-bottom:10px;
	min-height:100px;
}

#header {
	height:20px;
	text-align:right;
	display:compact;
	background:linear-gradient(#252D38 80% , #0F6);
	color:#FFF;
	margin:0;
}

#footer {
	border-top: solid 5px #93C;
	border-bottom:solid 5px #93C;
	font-family: "Segoe UI Cyrillic Semibold","Segoe UI Semibold","Helvetica Neue",Helvetica,Tahoma,"Arial Unicode MS",sans-serif;
	font-size:10px;
line-height: 18px;

font-weight: 400;

	margin:0px;
	margin-bottom:-1px;
}
#footer-under {
	background:#e4eef2;
	min-height:50px;
	position:relative;
	display:block;
}

#under-footer-under {
	margin:0;
	margin-bottom:-10px;
	display:block;
	background:#0F6;
	position:relative;
}

#header-nav {
	text-align:center;
	width:70%;
	margin:0 auto;	
}

.clear {
	width:100%;
	display:inline-block;
	height:1px;	
}

